<div class="container">
    <nav class="shadow navbar navbar-expand-lg navbar-light bg-dark nav-small">
        <a class="shadow text-white navTitleFont navbar-brand" href="#">Movie Guess Game</a>
        <button class="text-white navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
            aria-label="Toggle navigation">
            <span><i class="shadow text-white m-1 navbarToggle far fa-question-circle"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a onclick="getInstructions()" class="shadow text-white navLinkFont nav-link"
                        href="#">Instructions</a>
                </li>
                <li class="nav-item">
                    <a action="/" method="GET" onclick="getScores()" class="shadow text-white navLinkFont nav-link"
                        href="#">High Scores</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row d-flex flex-wrap rowHelper">
            <div class="shadow p-1 bg-dark mainContainer2">
                <div class="shadow innerContainer2 p-1 bg-white">
                    <div class="mt-1 d-flex flex-column">
                        <div class="row m-1 d-flex align-items-center">
                            <div class="col">
                                <h5 class="smallText2">Player Name:</h5>
                            </div>
                            <div class="col">
                                <h5 id="name" class="smallText3"></h5>
                            </div>
                        </div>
                        <div class="row m-1 d-flex align-items-center">
                            <div class="col">
                                <h5 class="smallText2">Score:</h5>
                            </div>
                            <div class="col">
                                <h5 id="score" class="smallText3"></h5>
                            </div>
                        </div>
                        <div class="row m-1 d-flex align-items-center">
                            <div class="col">
                                <h5 class="smallText2">Misses Left:</h5>
                            </div>
                            <div class="col">
                                <h5 id="misses-left" class="smallText3"></h5>
                            </div>
                        </div>
                        <div class="row m-1 d-flex align-items-center">
                            <div class="col">
                                <h5 class="smallText2">Time Left:</h5>
                            </div>
                            <div class="col">
                                <h5 id="time-left" class="smallText3"></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="main-button" class="d-flex justify-content-center">
                </div>
            </div>
            <div class="shadow p-1 bg-dark mainContainer1">
                <div class="shadow innerContainer1 p-1 bg-white">
                    <span class="sr-only">Loading...</span>
                    <div class="row mt-1 d-flex flex-wrap">
                        <div class="col">
                            <h5 class="smallText2">Date Released:</h5>
                            <h5 id="date-released" class="smallText3"></h5>
                        </div>
                        <div class="col">
                            <h5 class="smallText2">Genre:</h5>
                            <h5 id="genre" class="smallText3"></h5>
                        </div>
                    </div>
                    <div id="loading" class="wordReveal row mt-1 d-flex flex-wrap">
                        <h1 id="word-blanks" class="revealText"></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="row">
            <div class="shadow mainContainer3 p-1 bg-dark row d-flex flex-wrap">
                <div class="innerContainer3 p-1 bg-transparent row d-flex flex-wrap">
                    <h5 class="smallText">Guess next letter:</h5>
                    <div class="spacer row d-flex flex-wrap">
                        <div class="p-1">
                            <button id="enter-button" onclick="processGame()" type="button"
                                class="shadow answerButton btn btn-primary">Submit</button>
                        </div>
                        <div class="p-1">
                            <input id="letter-input" maxlength="1"
                                class="inputLetter shadow p-1 form-control form-control-lg" type="text" placeholder="_">
                        </div>
                    </div>
                </div>
                <div class="innerContainer4 p-1 bg-transparent">
                    <h5 class="smallText">Letters Guessed:</h5>
                    <div class="row shadow lettersGuessedTopRow">
                        <div id="a" class="col letter border rounded border-dark"><b>A</b></div>
                        <div id="b" class="col letter border rounded border-dark"><b>B</b></div>
                        <div id="c" class="col letter border rounded border-dark"><b>C</b></div>
                        <div id="d" class="col letter border rounded border-dark"><b>D</b></div>
                        <div id="e" class="col letter border rounded border-dark"><b>E</b></div>
                        <div id="f" class="col letter border rounded border-dark"><b>F</b></div>
                        <div id="g" class="col letter border rounded border-dark"><b>G</b></div>
                        <div id="h" class="col letter border rounded border-dark"><b>H</b></div>
                        <div id="i" class="col letter border rounded border-dark"><b>I</b></div>
                        <div id="j" class="col letter border rounded border-dark"><b>J</b></div>
                        <div id="k" class="col letter border rounded border-dark"><b>K</b></div>
                        <div id="l" class="col letter border rounded border-dark"><b>L</b></div>
                        <div id="m" class="col letter border rounded border-dark"><b>M</b></div>
                        <div id="n" class="col letter border rounded border-dark"><b>N</b></div>
                        <div id="o" class="col letter border rounded border-dark"><b>O</b></div>
                        <div id="p" class="col letter border rounded border-dark"><b>P</b></div>
                        <div id="q" class="col letter border rounded border-dark"><b>Q</b></div>
                        <div id="r" class="col letter border rounded border-dark"><b>R</b></div>
                    </div>
                    <div class="row shadow lettersGuessedBottomRow">
                        <div id="s" class="col letter border rounded border-dark"><b>S</b></div>
                        <div id="t" class="col letter border rounded border-dark"><b>T</b></div>
                        <div id="u" class="col letter border rounded border-dark"><b>U</b></div>
                        <div id="v" class="col letter border rounded border-dark"><b>V</b></div>
                        <div id="w" class="col letter border rounded border-dark"><b>W</b></div>
                        <div id="x" class="col letter border rounded border-dark"><b>X</b></div>
                        <div id="y" class="col letter border rounded border-dark"><b>Y</b></div>
                        <div id="z" class="col letter border rounded border-dark"><b>Z</b></div>
                        <div id="0" class="col letter border rounded border-dark"><b>0</b></div>
                        <div id="1" class="col letter border rounded border-dark"><b>1</b></div>
                        <div id="2" class="col letter border rounded border-dark"><b>2</b></div>
                        <div id="3" class="col letter border rounded border-dark"><b>3</b></div>
                        <div id="4" class="col letter border rounded border-dark"><b>4</b></div>
                        <div id="5" class="col letter border rounded border-dark"><b>5</b></div>
                        <div id="6" class="col letter border rounded border-dark"><b>6</b></div>
                        <div id="7" class="col letter border rounded border-dark"><b>7</b></div>
                        <div id="8" class="col letter border rounded border-dark"><b>8</b></div>
                        <div id="9" class="col letter border rounded border-dark"><b>9</b></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Game Modal -->
        <div class="modal fade" id="gameStartModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Welcome, new player!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input id="name-input" maxlength="30" class="form-control form-control-lg" type="text"
                            placeholder="enter your name...">
                    </div>
                    <div class="modal-footer">
                        <button onclick="reset()" type="button" class="btn btn-danger"
                            data-dismiss="modal">CANCEL</button>
                        <button onclick="searchMovieStart()" type="button" class="btn btn-primary"
                            data-dismiss="modal">START
                            GAME</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Game Recap Modal -->
        <div class="modal fade" id="gameEndModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Game Over! Let's recap....</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="recap-stats" class="modal-body">
                    </div>
                    <div id="recap-word" class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button action="/" method="POST" type="button" class="btn btn-danger" data-dismiss="modal">RESET
                            GAME</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Continue Game Recap Modal -->
        <div class="modal fade" id="continueModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Great Job! Keep it going!!!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="recap-stats" class="modal-body">
                    </div>
                    <div id="recap-word" class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">CONTINUE GAME</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- High Scores Modal -->
        <div class="modal fade" id="highScoresModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">High Scores:</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="recap-scores">
                            {{#each topScores}}
                            <div>
                                <h5 class="smallText2">Name: {{name}}</h5>
                                <h5 class="smallText2">Score: {{score}}</h5>
                                <h5 class="smallText2">Date: {{date}}</h5>
                                <hr>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">EXIT HIGH SCORES</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Instructions Modal -->
        <div class="modal fade" id="instructionsModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Welcome, and thanks for playing the Movie
                            Guess Game!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class"smallText2">
                            <li>The object of the Movie Guess Game is to correctly guess the mystery movie title by
                                choosing letters on your computer/tablet keyboard, one-by-one. If the player can select
                                all of the correct letters in the title before the alloted time runs out, and without
                                guessing an incorrect letter more than 4 times, they win and advance to the next round.
                                The game continues on with new Movie Titles to guess until the player loses or chooses
                                to end the game.</li>
                            <hr>
                            <li>To begin, click the "New Game" button under the scoreboard, enter your name in the field
                                that appears, then click the button labeled "Start Game".</li>
                            <hr>
                            <li>Next, you will see a message in the Movie Title window, stating that a new movie title
                                is loading. When a movie has been selected, this message will disappear and be replaced
                                by a series of blanks, representing the new movie title.</li>
                            <hr>
                            <li>You will now have 2 minutes to correctly guess the letters to complete the title. To
                                choose a letter, click or touch inside of the white-colored input box, next to the blue
                                buttoned labeled "Submit" at the bottom of the page. Select a letter from your
                                computer/tablet keyboard, then click the Submit button, or press enter on your keyboard.
                                Depending on if your selection was correct or not, the letter's corresponding location
                                on the "Letters Guessed" grid will light up either red (incorrect) or green (correct).
                            </li>
                            <hr>
                            <li>If you solve the title, you will proceed to a new round with a freshly chosen movie
                                title, and begin the next round.
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE INSTRUCTIONS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/js/logic.js"></script>
    </body>

    </html>