* {
    box-sizing: border-box;
}


.navTitleFont {
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.8rem;
}

.navLinkFont {
    font-size: 1.3rem;
    font-family: 'Questrial', sans-serif;
}

.navbarToggle {
font-size: 1.8rem;
}

nav {
    border-radius: 1rem;
    margin: 1rem;
}

.mainContainer1 {
    border-radius: 1rem;
    min-height: 300px;
    margin: 1rem;
    width: 62%;
}

.mainContainer2 {
    border-radius: 1rem;
    min-height: 300px;
    margin: 1rem;
    width: 32%;
}

.mainContainer3 {
    display: flex;
    border-radius: 1rem;
    min-height: 2rem;
    margin: 1rem;
    align-items: center;
    width: 100%;
}

.innerContainer1 {
    border-radius: 1rem;
    margin: 0.7rem;
    min-height: 92%;
}

.innerContainer2 {
    border-radius: 1rem;
    margin: 0.7rem;
    min-height: 67%;
    justify-content: center;
}

.innerContainer3 {
    border-radius: 1rem;
    margin: 0.7rem;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.innerContainer4 {
    border-radius: 1rem;
    margin: 0.7rem;
    width: 65%;
    justify-content: center;
    align-self: center;
}

.startButton {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 17.0rem;
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.3rem;
    border-radius: 1rem;
}

.smallText {
    text-align: center;
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: 1.3rem;
}

.smallText2 {
    text-align: center;
    color: black;
    font-family: 'Questrial', sans-serif;
    font-size: 1.3rem;
}

.smallText3 {
    color: red;
    font-family: 'Questrial', sans-serif;
    font-size: 1.7rem;
    text-align: center;
}

.rowHelper {
margin-left: -19px;
}

.letter {
    padding-right: .2rem;
    padding-left: .2rem;
    text-align: center;
    font-size: 1.2rem;
    background-color:#6c757d;
    color: white;
    border-color: white;
}

.countdownClock {
    font-family: 'Black Ops One', cursive;
    font-size: 2rem;
    color: red;
    text-align: center;
    margin-top: -0.2rem;
}

.inputLetter {
    margin: 0.5rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 1rem;
    height: 4rem;
    width: 4.0rem;
}

.answerButton {
    margin: 0.5rem;
    padding: 0.5rem;
    width: 11.0rem;
    height: 4rem;
    font-family: 'Luckiest Guy', cursive;
    font-size: 1.6rem;
    border-radius: 1rem;
}

.lettersGuessedTopRow {
    margin-top: 1.1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.lettersGuessedBottomRow {
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.wordReveal {
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: center;
    align-content: center;
    height: 10rem;
}
.revealText {
    font-size: 4.5rem;
}

.rowHelper {
    justify-content: flex-end;
}
/*Media Queries*/

@media only screen and (max-width: 1200px) {
    .nav-small {
      align-items: center;
      justify-content: center;
    }
  
    .mainContainer1080 {
        display: flex;
        align-items: center;
        justify-content: center;
      }

    .mainContainer1 {
        margin: 1rem;
        width: 100%
      }

    .mainContainer2 {
        margin: 1rem;
        width: 100%
      }

      .mainContainer3 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

    .innerContainer4 { 
        width: 100%;
        margin: 0rem;
    }

    .innerContainer3 { 
        width: 100%;
    }
.spacer{
    width: 100%;
    justify-content: center;
}
    .revealText {
        font-size: 3.5rem;
    }

    .smallText3 {
        font-size: 1.3rem;
    }

  }

  @media only screen and (max-width: 767px) {

    .revealText {
        font-size: 2.5rem;
    }

    .smallText {
        font-size: 1.1rem;
    }

    .smallText2 {
        font-size: 1.1rem;
    }

    .smallText3 {
        font-size: 1.1rem;
    }

  }

  @media only screen and (max-width: 767px) {
  .innerContainer4 { 
    width: 85%;
}
  }